.root-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.root-panel > .ac-panel#main-control-panel {
  width: 40%;
}
.root-panel > .ac-panel {
  width: 60%;
}
.ac-panel {
  padding: 15px 15px 0 15px;
  flex: 10 1 auto;
}
#control-panel + #output-panel,
#help-panel + #output-panel {
  display: none;
}
.panel-row {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 0 15px 0;
}
.panel-row.has-labels {
  padding: 0 0 15px 0;
}
.ac-panel.output-panel {
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
}
.ac-panel.output-panel .panel-spacer {
  padding: 15px;
}
.ac-control-wrapper {
  display: inline-block;
  padding: 0 7.5px;
  box-sizing: border-box;
  flex-grow: 8;
}
.ac-control-wrapper:first-child {
  padding-left: 0;
}
.ac-control-wrapper:last-child {
  padding-right: 0;
}
.ac-control-wrapper.square {
  flex-grow: 0;
  width: 150px;
}
.ac-control-wrapper.flex-sm {
  flex-grow: 2;
}
.ac-control-wrapper.flex-md {
  flex-grow: 4;
}
.ac-control-wrapper.flex-lg {
  flex-grow: 8;
}
.ac-control-wrapper .ac-input.text,
.ac-control-wrapper .ac-output.text {
  padding: 2px 6px;
}
.ac-control-wrapper .ac-input.textarea,
.ac-control-wrapper .ac-output.textarea {
  padding: 0 2px;
}
.ac-input,
.ac-output {
  width: 100%;
  min-height: 60px;
  box-sizing: border-box;
}
.ac-input.double-height,
.ac-output.double-height {
  height: 90px;
}
body,
div,
span,
p,
a {
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1.2em;
}
h6 {
  font-size: 1.05em;
}
h1#main-title {
  margin: 0;
}
.ac-input.text,
.ac-output.text {
  font-size: 16px;
}
.ac-input.textarea,
.ac-output.textarea {
  font-size: 24px;
}
.ac-input.button,
.ac-output.button {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.ac-input-label {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-left: 1px;
}
#main-control-panel a {
  color: #bbf;
  text-decoration: none;
}
#main-control-panel a:hover,
#main-control-panel a:active {
  color: #c9c9ff;
}
#chord-dictionary li {
  font-family: monospace;
  font-size: 16px;
}
#status-output.ac-output .line {
  opacity: 0.33;
}
#status-output.ac-output .first {
  opacity: 1;
}
#status-output.ac-output .hasError {
  color: #e88;
  font-weight: bold;
}
body {
  background-color: #ddd;
  color: #222;
}
p {
  margin-top: 0;
}
.ac-input.textarea {
  resize: none;
}
#main-control-panel {
  color: #fff;
  background-color: #555;
}
#status-output {
  color: inherit;
  font-style: italic;
  border: 1px solid #2a2a2a;
  background-color: #484848;
}
#error-message {
  padding: 0.75vw;
  background-color: #d33;
  color: #300;
}
#chord-dictionary {
  text-align: center;
}
#chord-dictionary li {
  background-color: #ccc;
  display: inline-block;
  padding: 8px;
  margin: 5px 15px;
}
table#ac-melody-output {
  width: 100%;
  text-align: center;
}
table#ac-melody-output thead {
  background-color: #006;
  color: #fff;
}
table#ac-melody-output th,
table#ac-melody-output td {
  padding: 1vw 0 0.5vw 0;
}
table#ac-melody-output th {
  font-size: 1.5em;
  font-weight: normal;
  padding: 0.5em 0;
}
.ac-melody-row {
  cursor: pointer;
}
.ac-melody-row.selected {
  background-color: #dfd;
}
.melody-data {
  font-size: 2em;
}
.ac-input.button {
  color: #fff;
  background-color: #999;
  border-color: #7a7a7a;
  cursor: pointer;
  outline: none !important;
  border-radius: 6px;
  border-width: 0 3px 3px 0;
}
.ac-input.button:hover,
.ac-input.button:active {
  background-color: #7a7a7a;
}
.ac-input.button:active {
  border-color: #676767;
  background-color: #676767;
}
.ac-input.button.active {
  border-color: #676767;
  background-color: #676767;
}
.ac-input.button.disabled {
  background-color: #7a7a7a !important;
}
.ac-input.button:active {
  opacity: 0.8;
  border-width: 3px 0 0 3px;
  border-style: inset;
}
.ac-input.button.active {
  opacity: 0.8;
  border-width: 3px 0 0 3px;
  border-style: inset;
}
.ac-input.button.disabled {
  cursor: default;
  opacity: 0.66;
  border: none !important;
}
.ac-input.button i,
.ac-input.button p,
.ac-input.button span {
  vertical-align: middle;
}
.ac-input.button.green {
  color: #fff;
  background-color: #0fab0f;
  border-color: #0c890c;
}
.ac-input.button.green:hover,
.ac-input.button.green:active {
  background-color: #0c890c;
}
.ac-input.button.green:active {
  border-color: #0a730a;
  background-color: #0a730a;
}
.ac-input.button.green.active {
  border-color: #0a730a;
  background-color: #0a730a;
}
.ac-input.button.green.disabled {
  background-color: #0c890c !important;
}
.ac-input.button.blue {
  color: #fff;
  background-color: #381c93;
  border-color: #2d1676;
}
.ac-input.button.blue:hover,
.ac-input.button.blue:active {
  background-color: #2d1676;
}
.ac-input.button.blue:active {
  border-color: #261362;
  background-color: #261362;
}
.ac-input.button.blue.active {
  border-color: #261362;
  background-color: #261362;
}
.ac-input.button.blue.disabled {
  background-color: #2d1676 !important;
}
.ac-input.button.red {
  color: #fff;
  background-color: #d51212;
  border-color: #aa0e0e;
}
.ac-input.button.red:hover,
.ac-input.button.red:active {
  background-color: #aa0e0e;
}
.ac-input.button.red:active {
  border-color: #8f0c0c;
  background-color: #8f0c0c;
}
.ac-input.button.red.active {
  border-color: #8f0c0c;
  background-color: #8f0c0c;
}
.ac-input.button.red.disabled {
  background-color: #aa0e0e !important;
}
.ac-input.button#showHelp.active {
  opacity: 1;
  background-color: #343434;
}
