// Fine details such as colours, box-shadow, text-shadow

buttonBackground = #999
buttonBackgroundGreen = #0d990d
buttonBackgroundRed = #bf1010
buttonBackgroundBlue = #321984

buttonTextColorLight = #FFF
buttonTextColorDark = #222

buttonBorderSize = 3px

// using a given color, create the colors for various button states
createButtonColors(bgColor, textColor)

  // variables
  borderColorActive = darken(bgColor, 33%)

  //------------------------------

  color: textColor
  background-color: bgColor
  border-color: darken(bgColor, 20%)

  &:hover
  &:active
    background-color: darken(bgColor, 20%)

  // Button is currently being clicked
  &:active
    border-color: borderColorActive
    background-color: desaturate(darken(bgColor, 35%), 15%)

  // Toggle buttons in an active state.
  // Maybe you should rename this to avoid confusion.
  &.active
    border-color: borderColorActive
    background-color: desaturate(darken(bgColor, 30%), 12%)

  &.disabled
    background-color: desaturate(darken(bgColor, 5%), 20%) !important


.ac-input.button
  createButtonColors(buttonBackground, buttonTextColorLight)

  cursor: pointer
  outline: none !important
  border-radius: 6px
  border-width: 0 buttonBorderSize buttonBorderSize 0

  // Button is currently being clicked
  &:active
    border-width: buttonBorderSize 0 0 buttonBorderSize
    border-style: inset

  // Toggle buttons in an active state.
  // Maybe you should rename this to avoid confusion.
  &.active
    border-width: buttonBorderSize 0 0 buttonBorderSize
    border-style: inset

  &.disabled
    cursor: default
    opacity: 0.5
    border: none !important

  i, p, span
    vertical-align: middle

  .fa-play
    padding-left: 5px

  .fa-download
    padding-left: 6px

.ac-input.button
  &.green
    createButtonColors(buttonBackgroundGreen, buttonTextColorLight)
  &.blue
    createButtonColors(buttonBackgroundBlue, buttonTextColorLight)
  &.red
    createButtonColors(buttonBackgroundRed, buttonTextColorLight)
