// Styles for the melody output table

table#ac-melody-output
  width: 100%
  text-align: center

  thead
    background-color: #006
    color: #fff

  th, td
    padding: 1vw 0 0.5vw 0

  th
    font-size: 1.5em
    font-weight: normal
    padding: 0.5em 0

.ac-melody-row
  cursor: pointer

  &.selected
    background-color: #DFD

.melody-data
  font-size: 2em
