// Styles for the melody output table

table#ac-melody-output
  width: 100%
  text-align: center
  border: 1px #000 solid
  border-collapse: collapse

  thead
    background-color: #006
    color: #fff

  th, td
    border: 1px #000 solid
    padding: 0.5vw 0

.ac-melody-row
  background-color: bgBody
