// central stylesheet.

bgBody = #dddddd
textColor = #222222
controlPanelBackground = #779

innerPadding = 15px

@require "layout"
@require "text"

body
  background-color: bgBody
  color: textColor

.ac-input.textarea
  resize: none

#main-control-panel
  background-color: controlPanelBackground

#status-output
  font-style: italic
  border: 1px solid darken(controlPanelBackground, 66%)
  background-color: darken(controlPanelBackground, 33%)

#error-message
  padding: 0.75vw
  background-color: #D33
  color: #300

#chord-dictionary
  text-align: center

  li
    background-color: #AAA
    display: inline-block
    padding: 8px
    margin: 5px 15px

@require "layout"
@require "melodies-table"
@require "details"

// TESTING
