// central stylesheet.

bgBody = #DDD
textColor = #222222

controlPanelTextColor = #FFF
controlPanelBackground = #555

innerPadding = 15px

@require "layout"
@require "text"

body
  background-color: bgBody
  color: textColor

p
  margin-top: 0

.ac-input.textarea
  resize: none

#main-control-panel
  color: controlPanelTextColor
  background-color: controlPanelBackground

#status-output
  color: inherit
  font-style: italic
  border: 1px solid darken(controlPanelBackground, 50%)
  background-color: darken(controlPanelBackground, 15%)

#error-message
  padding: 0.75vw
  background-color: #D33
  color: #300

#chord-dictionary
  text-align: center
  padding: 0

  li
    background-color: #CCC
    display: inline-block
    padding: 8px
    margin: 5px 15px

@require "layout"
@require "melodies-table"
@require "details"
@require "responsive"

// TESTING
