// Styling of text and fonts on the page.

inputFontSize = 16px
labelFontSize = 12px
chordDictionaryFontSize = 16px

body
  font-family: 'Helvetica', 'Arial', sans-serif

.ac-input, .ac-output
  &.text
    font-size: inputFontSize
  &.textarea
    font-size: inputFontSize

  &.button
    font-size: inputFontSize
    font-weight: bold

.ac-input-label
  font-size: labelFontSize
  text-transform: uppercase
  letter-spacing: 2px
  padding-left: 1px

#chord-dictionary li
  font-family: monospace
  font-size: chordDictionaryFontSize
