// Styling of text and fonts on the page.

inputFontSize = 16px
labelFontSize = 12px
chordDictionaryFontSize = 16px

errorColor = #E88
mainLinkColor = #BBF

body
  font-family: 'Helvetica', 'Arial', sans-serif

.ac-input, .ac-output
  &.text
    font-size: inputFontSize
  &.textarea
    font-size: inputFontSize * 1.5

  &.button
    font-size: inputFontSize
    font-weight: bold
    text-transform: uppercase
    letter-spacing: 2px

.ac-input-label
  font-size: labelFontSize
  text-transform: uppercase
  letter-spacing: 2px
  padding-left: 1px


#main-control-panel a
  color: mainLinkColor
  text-decoration: none

  &:hover
  &:active
    color: lighten(mainLinkColor, 20%)

#chord-dictionary li
  font-family: monospace
  font-size: chordDictionaryFontSize

#status-output.ac-output
  .line
    opacity: 0.33

  .first
    opacity: 1

  .hasError
    color: errorColor
    font-weight: bold
