bgBody = #eeeeee
bgComponent1 = #cccccc
bgComponent2 = #ccaaaa
bgComponent3 = #aaccaa
bgComponent4 = #aaaacc

innerPadding = 15px

@require "layout"

body
  background-color: bgBody
  font-family: 'Helvetica', 'Arial', sans-serif

.r-component
  padding: innerPadding

.autocomposer-panel
  padding: innerPadding

.ac-input.textarea
  resize: none
  font-size: 2em

table#ac-melody-output
  width: 100%
  text-align: center
  border: 1px #000 solid
  border-collapse: collapse

  thead
    background-color: #006
    color: #fff

  th, td
    border: 1px #000 solid
    padding: 0.75vw

.ac-melody-row
  background-color: bgBody

#error-message
  padding: 0.75vw
  background-color: #D33
  color: #300
